* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
